<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nopcommerce testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.nopcommerce.demo.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="nopcommerce Test" >
        <classes>
            <class name="com.nopcommerce.demo.testsuite.ElectronicsTest"/>
            <class name="com.nopcommerce.demo.testsuite.HomePageTest"/>
            <class name="com.nopcommerce.demo.testsuite.ComputerTest"/>
        </classes>
    </test>
</suite>